# Ignore installed dependencies
**/node_modules/

# Build artifacts
**/docs/
**/dist/
**/.cache/

# Ignore macOS' lovaly and omnipresent .DS_Store
.DS_Store/

# Ignore all log files, everywhere
*.log
